.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login>img {
    height: 200px;
}

.login>a {
    box-sizing: border-box;
    padding: 19px 56px 21px;
    background-color: #109B42;
    color: white;
    border-radius: 500px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 16px;
    transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
    transition-duration: 0.3s;
    border-width: 0px;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    text-decoration: none;
}

.login>a:hover {
    background-color: rgb(30, 215, 96);
    outline: 0px;
    color: rgba(255, 255, 255);
    text-decoration: none;
}